<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
</head>
<body>
  <button id="button"></button>
  <div id="test"></div>


</body>

<script>

    $("#button").click(
        function (){
        var socket = io.connect("http:" + '//' + "127.0.0.1" + ':' + "9091/test" );
        var socket2 = io.connect("http:" + '//' + "127.0.0.1" + ':' + "9091/crawl" );
        socket.on('connect', function(msg) {
                socket.emit('my_event',{"data":"test"})
            });
        socket.on('message',function (msg){
            console.log(msg)
        })
        socket2.on('response2',function (msg){
            // var message = JSON.parse(msg)
            console.log(msg)
            $("div#test").html(msg["page"])
        })
    })




</script>

</html>